<div class="text-center">
<div class="title">
<h2> Today's teammates !</h2>
</div>
<ul class="list-inline text-center">
  <li>
    <img src="https://avatars1.githubusercontent.com/u/20045463?v=4" alt="avatar Maxime">
    <div class="text-name">
    <h4>Maxime Boué</h4>
    <p class="fa fa-github" href="https://github.com/Powakedown"> Powakedown</p>
    </div>
  </li>
  <li>
    <img src="https://avatars0.githubusercontent.com/u/25745766?v=3" alt="avatar Joan">
    <div class="text-name">
    <h4>Joan Indaburu</h4>
    <p class="fa fa-github" href="https://github.com/Joan-Pattar"> Joan-Pattar</p>
    </div>
  </li>
  </ul>
